[submodule "combinatorics"]
	path = combinatorics
	url = git@github.com:Kipparis/combinatorics.git
[submodule "databases"]
	path = databases
	url = git@github.com:Kipparis/databases.git
[submodule "databases"]
	path = job
	url = git@github.com:Kipparis/job.git
